<header class="border-bottom w-100">
    <nav class="pl-5 navbar navbar-expand py-4 bg-white d-flex justify-content-between">
        <div id="navbar-brand">
            <div class="navbar-brand d-flex align-items-center" (click)="goTo.emit('calendar')">
                <mat-icon color="primary" class="mr-4 icon-2x">event</mat-icon>
                <span class="turnzo-logo">TURNZO</span>
            </div>
        </div>

        <div id="navbar-user" class="dropdown d-flex align-items-center">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="mr-4 icon-2x">account_circle</mat-icon>
            </button>
            <mat-menu class="user-menu" #menu>
                <div class="p-3 text-center d-flex flex-column">
                    {{ userData.email }}
                    <strong>{{ userData.role }}</strong>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="goTo.emit('profile')">Edit profile</button>
                <button mat-menu-item (click)="goTo.emit('settings')">Settings</button>
                <button mat-menu-item (click)="logout()">Log out</button>
            </mat-menu>
        </div>
    </nav>
</header>
