<div class="container col-11 p-5">
    <form [formGroup]="eventForm">
        <div *ngIf="!isNewEvent && eventType == 'TURNZO'" class="row">
            <mat-form-field class="w-100">
                <input disabled="disabled" type="text" matInput placeholder="{{ apiEvent.user_firstname }} {{ apiEvent.user_lastname }}">
            </mat-form-field>
        </div>
        <div mat-dialog-content>
            <div class="row mb-3">
                <mat-button-toggle-group [disabled]="!isNewEvent" [value]="eventType">
                    <mat-button-toggle class="d-flex align-items-center" value="TURNZO">Turnzo</mat-button-toggle>
                    <mat-button-toggle class="d-flex align-items-center" value="LOCK">Lock</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="row">
                <mat-form-field class="w-50">
                    <mat-icon (click)="picker.open()" class="icon-prefix" matPrefix>access_time</mat-icon>
                    <input [disabled]="!isNewEvent" matInput value="{{ apiEvent.start }}" (click)="picker.open()" [matDatepicker]="picker" placeholder="Date and time">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-25">
                    <mat-label>Hour</mat-label>
                    <mat-select [disabled]="!isNewEvent" value="{{ eventHour }}">
                        <mat-option *ngFor="let hour of hoursList; let i = index" value="{{hour}}">
                            {{hour}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-25">
                    <mat-label>Minutes</mat-label>
                    <mat-select [disabled]="!isNewEvent" value="{{ eventMinute }}">
                        <mat-option *ngFor="let minute of minutesList; let i = index" value="{{minute}}">
                            {{minute}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="isNewEvent && eventType == 'TURNZO'" class="row">
                <mat-form-field class="w-100">
                    <mat-icon class="icon-prefix" matPrefix>people_alt</mat-icon>
                    <input type="text" matInput placeholder="Add patients">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="w-100">
                    <mat-icon class="icon-prefix" matPrefix>description</mat-icon>
                    <textarea matInput placeholder="Add a description"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="row justify-content-end">
            <button mat-flat-button (click)="closeCreateEventDialog()">Cancel</button>
            <button mat-flat-button color="primary" (click)="closeCreateEventDialog()">Save</button>
        </div>
    </form>
</div>