mat-button-toggle {
    width: 75px;
}

.mat-button-toggle {
    font-size: 14px;
    width: 60px;
    height: 40px;
}

.mat-button-toggle-checked {
    background-color: #673ab7;
    color: white;
}

.icon-prefix {
    margin-right: 10px;
}