<full-calendar class="p-3"
	defaultView="dayGridMonth"
	[header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
	[height]="600"
	eventLimit="true"
	[plugins]="calendarPlugins"
	editable="true"
	(eventClick)="onEventClick($event)"
	(dateClick)="onDateClick($event)"
	[events]="[
    { title: 'event 1', date: '2019-10-13' },
	{ title: 'event 2', date: '2019-10-12' },
	{ title: 'event 2', date: '2019-10-12' },
	{ title: 'event 2', date: '2019-10-12' }
  	]">
</full-calendar>