<mat-progress-bar mode="indeterminate" *ngIf="requestingActivation" class="position-absolute"></mat-progress-bar>
<div class="container-fluid">
    <div class="row">
        <div class="text-center d-flex flex-column mx-auto justify-content-center align-items-center" style="height:100vh;">
            <mat-card class="py-5">
                <div class="row px-5 align-items-center justify-content-center">
                    <mat-icon color="primary" class="icon-3x">event</mat-icon>
                    <span class="turnzo-logo-2x ml-5">TURNZO</span>
                </div>
                <form class="my-4" [formGroup]="loginForm">
                    <mat-form-field class="w-75">
                        <input type="text" matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="loginForm.get('email').hasError('required')">Required</mat-error>
                        <mat-error *ngIf="loginForm.get('email').hasError('email')">Enter a valid email address</mat-error>
                    </mat-form-field>
                    <mat-form-field class="mt-2 w-75">
                        <input type="text" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                        formControlName="password">

                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.get('password').invalid">Required</mat-error>
                    </mat-form-field>
                </form>
              <p class="link-primary font-14">Forgot password?</p>
              <p class="link-primary font-14" (click)="goRegister('USER')">Register</p>
                <div class="d-flex flex-column align-items-center">
                    <button class="mt-2 submit-btn" mat-flat-button color="primary" (click)="validateForm()">SUBMIT</button>
                    <button class="mt-4 buynow-btn" mat-flat-button color="primary" (click)="goRegister('ADMIN')">
                        <mat-icon color="white">shopping_cart</mat-icon>
                        BUY NOW
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>