<div class="container-fluid">
    <div class="row">
        <div class="text-center d-flex mx-auto align-items-center" style="height:100vh;">
            <mat-card class="py-5">
                <div class="row px-5 align-items-center justify-content-around">
                    <mat-icon color="primary" class="icon-3x">event</mat-icon>
                    <span class="turnzo-header">TURNZO</span>
                </div>
                <form class="my-4">
                    <mat-form-field class="w-75">
                        <input matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field class="w-75">
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </form>
                <a href="" class="link-primary"><p>Forgot password?</p></a>
                <a href="" class="link-primary"><p>Register</p></a>
                <button class="mt-3 submit-btn" mat-flat-button color="primary">SUBMIT</button>
            </mat-card>
        </div>
    </div>
</div>