<div class="container-fluid">
    <div class="row">
        <div class="text-center d-flex mx-auto align-items-center" style="height:100vh;">
            <mat-card class="py-5">
                <div class="row px-5 align-items-center justify-content-center">
                    <mat-icon color="primary" class="icon-3x">event</mat-icon>
                    <span class="turnzo-header ml-5">TURNZO</span>
                </div>
                <form class="my-4" [formGroup]="loginForm">
                    <mat-form-field class="w-75">
                        <input type="text" matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="loginForm.get('email').hasError('required')">Required</mat-error>
                        <mat-error *ngIf="loginForm.get('email').hasError('email')">Enter a valid email address</mat-error>
                    </mat-form-field>
                    <mat-form-field class="mt-2 w-75">
                        <input type="text" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                        formControlName="password">

                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.get('password').invalid">Required</mat-error>
                    </mat-form-field>
                </form>
                <a href="" class="link-primary">
                    <p>Forgot password?</p>
                </a>
                <a href="" class="link-primary">
                    <p>Register</p>
                </a>
                <button class="mt-2 submit-btn" mat-flat-button color="primary" (click)="validateForm()">SUBMIT</button>
            </mat-card>
        </div>
    </div>
</div>