<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height:100vh;">
        <div class="text-center col-11 col-md-7 col-lg-5">
            <mat-card class="py-5">
                <div class="row px-5 mb-5 align-items-center justify-content-center">
                    <mat-icon color="primary" class="icon-3x">event</mat-icon>
                    <span class="turnzo-header ml-5">TURNZO</span>
                </div>
                <mat-icon class="text-success icon-3x" matPrefix>check_circle</mat-icon>
                <h2 class="mt-4">Success!</h2>
                <p>You have succesfully registered</p>
                <p>You will receive an email in order to activate your account</p>
                <a href="/"><button class="submit-btn mt-4" mat-flat-button color="primary">Home</button></a>
            </mat-card>
        </div>
    </div>
</div>