<full-calendar class="p-3"
               defaultView="{{ calendarDefaultView }}"
               [header]="{left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'}"
               eventLimit="true"
               [plugins]="calendarPlugins"
               editable="true"
               (eventClick)="onEventClick($event)"
               (dateClick)="onDateClick($event)"
               [events]="[
            {
                title: 'The Title',
                date: '2019-11-04',
                startTime: '16:00:00',
                endTime: '17:00:00',
                allDay: false
            }
        ]">
</full-calendar>