/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

body {
    background-color: #fafafa;
}

.icon-2x {
    transform: scale(2);
}

.icon-3x {
    transform: scale(3);
}

.icon-4x {
    transform: scale(4);
}

.turnzo-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.turnzo-logo-2x {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.link-primary {
    font-family: 'Roboto', sans-serif;
    color: #673ab7;
    font-weight: bold;
    cursor: pointer;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

button.submit-btn {
  border-radius: 36px;
  width: 125px;
  height: 40px;
}

button.create-btn {
    font-size: 16px;
    border-radius: 36px;
    width: 140px;
    height: 50px;
}

.navbar-brand {
    text-decoration: none;
    color: black;
}

nav {
    height: 70px;
}

#sidebar {
    min-height: 90vh;
}